
:root {
  font-family: Arial, Helvetica, sans-serif;

  color: #454141;
  background-color: #FFF4F4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
}

#root {
  width: 100%;
  min-height: 100vh;
}


:root {
  --primary: #FF1362;
  --secondary: #965E5E;
  --peach: #FFC9BA;
  --background: #FFF4F4;
}